# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Node / Frontend
node_modules/
dist/
.pnpm-store/

# OS and Editor files
.DS_Store
.idea/
.vscode/

# Environment files
.env
.env.*
!.env.example
!.env.*.example
